<!DOCTYPE html>
<html ng-app="">
  <head>
	<title>Project Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <style>

    body{
background-color:#F6F6F6;
}
.bigicon {    
    color:white;
}

.mix{
    
    margin-left: 10px;
    margin-right: 10px;
}

ul.dropdown-cart{
    min-width:250px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    
}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;
    
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}   
#searchbox{
    width: 350px;
    position: absolute;
    margin-left: 35%;
    margin-top: 0.5%;

}
#btnGo{
    height:34px;
}
</style>
<!-- Navbar Dropdown Cart - END -->

  </head>
    <body>





<!-- Navbar Dropdown Cart - START -->

<div class="mix">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header menuitem">
        <img class="pull-left"src="/img/mainlogo.png" style="width:30px; height:30px; margin-top:5%;">
      <a class="navbar-brand" href="#">Projectmate</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
      </ul>
    </div>

     <div id="searchbox" class="input-group">
      <input type="text" class="form-control" placeholder="Search for Project">
      <span class="input-group-btn">
        <button id="btnGo"class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    
    <div style="color:white; position:absolute; margin-left:70%; margin-top:1%;"id="usernameDiv">
       <p>Username: mahesh5539</p> 
    </div>

    <div style="margin-top:1%"class="pull-right">
        <a style="color:white;" href="">Sign Out</a>
    </div>
  </div>
</nav>
</div>








    <body>
</head>