<!DOCTYPE html>
<html ng-app="taskHomeApp">
  <head>
	<title>Project Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  
    <style>

    body{
background-color:#F6F6F6;
}
.bigicon {    
    color:white;
}

.mix{
    
    margin-left: 10px;
    margin-right: 10px;
}

ul.dropdown-cart{
    min-width:250px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    
}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;
    
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}   
#searchbox{
    width: 350px;
    position: absolute;
    margin-left: 35%;
    margin-top: 0.5%;

}
#btnGo{
    height:34px;
}
#secNav{
    margin-top:3.5%;
     margin-left: 10px;
    margin-right: 10px;
}

#projectNameId{
    margin-top: 0.5%;
    margin-left: 5%;
    font-size: 15px;
    font-weight: bold;
    }  
#inviteUserId{
    position: relative;
    margin-top: -30px;
    margin-left: 25%
    

    } 
#newTaskBtn{
    position: relative;
    margin-top: -35px;
    margin-left: 60%
}
#mainboard{
    margin-top: 4%;
}
table{
    position: relative;
    margin-left: 0.2%;
}
table th{
    border: 1px solid;
    background-color: white;
}
.column_name{
    margin-left: 35%;
    margin-top: 2%;
    height: 30px;
}
th .column_content{
    height: 570px;
}
</style>
    <style>
        .task_context {
            position: absolute;
            margin-top: -30px;
            margin-left: 0.5%;
        }
       .task_id {
    margin-left: 2%;
    margin-top: 0.3%;
    position: absolute;
}
       .assignee {
    position: absolute;
    margin-left: 10%;
    margin-top: 0.3%;
}
       .avatar {
    position: absolute;
    margin-top: 1%;
    margin-left: 12%;
}
        .assignee {
    position: absolute;
    margin-left: 10%;
    margin-top: 0.3%;
}
        .head{
            height: 25px;
        }
        .title {
        margin-left: 0.8%;
    margin-top: 1%;
    position: absolute;
}
.taskborder {
    width: 90%;
    height: 90px;
    border: 1px solid black;
    border-radius: 3%;
    margin-left: 4%;
    margin-top: 4%;    
}
#inviteUser{
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    background-image: url(inviteUser.png);
    background-repeat: no-repeat;

    width:25%;
    height: 30%;
    
    
}

#invitebtn{
    margin-left: 30%;
    width: 120px;
    height: 35px;
} 
#inviteEmail{
    position: relative;
    margin-left: 18%;
    border: 1px solid;
    width: 220px;
}
#inviteUser{
    position: relative;
    background-image: url(/img/inviteUser.png);
    background-repeat: no-repeat;
    width:26%;
    height: 30%; 
}

#invitebtn{
    margin-left: 30%;
    width: 120px;
    height: 35px;
} 
#inviteEmail{
    position: relative;
    margin-left: 18%;
    border: 1px solid;
    width: 220px;
}

    </style>

<!-- Navbar Dropdown Cart - END -->
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("Text", ev.target.id);
}

function drop(ev) {
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    ev.preventDefault();
}
</script>
  <script>

  function getUniqueString() {
    var S4 = function() {
       return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    };
    return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    }
 

          $(document).ready(function(){

         
    $("#addTaskBtn").click(function(){
            var idValue = getUniqueString();      
  var CreateTaskTitle = document.getElementById('newtitle').value;
  var CreateTaskDesc = document.getElementById('newdescription').value;
  var CreateTaskAssignee = document.getElementById('newasignee').value;
  var CreateTaskState = document.getElementById('newstate').value;
  var CreateTaskEstimate = document.getElementById('newestimate').value;
  var CreateTaskActual = document.getElementById('newactual').value;
        $("#first_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>None</span><span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+CreateTaskTitle+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+CreateTaskTitle+'</p><p hidden ng-model="ngDesc">'+CreateTaskDesc+'</p><p hidden ng-model="ngAssignee">'+CreateTaskAssignee+'</p><p hidden ng-model="ngState">'+CreateTaskState+'</p><p hidden ng-model="ngEstimate">'+CreateTaskEstimate+'</p><p hidden ng-model="ngActual">'+CreateTaskActual+'</p></div><ul></ul></div>');                    
    
  });
  });
    </script>
  </head>
    <body ng-controller="TaskCtrl" ng-init="getAllTasks()">
        <input id="projectId" ng-model="ngprojectId" type="hidden" value="<%=projectID%>">

<!-- Navbar Dropdown Cart - START -->

<div class="mix">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header menuitem">
        <img class="pull-left"src="/img/mainlogo.png" style="width:30px; height:30px; margin-top:5%;">
      <a class="navbar-brand" href="#">Projectmate</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
      </ul>
    </div>

     <div id="searchbox" class="input-group">
      <input type="text" class="form-control" placeholder="Search for Project">
      <span class="input-group-btn">
        <button id="btnGo"class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    <div id="notifications" style="color:white;position:absolute; margin-left:63%; margin-top:1%;">
        <p href="">Notifications:</p>
    </div>
    <div id="notifications_sign" style="color:white;position:absolute; margin-left:69%; margin-top:1%;">
        <a href=""><span style="font-size:20px;color:#337ab7"class="glyphicon glyphicon-globe"></span></a>
    </div>
    <div style="color:white; position:absolute; margin-left:72%; margin-top:1%;"id="usernameDiv">
       <p>User: mahesh5539</p> 
    </div>

    <div style="margin-top:1%"class="pull-right">
        <a style="color:white;" href="">Sign Out</a>
    </div>
  </div>
</nav>

  <div style="position:absolute;padding-top:0px;"class="container">

    <div class="row"> 
        <div id="projectNameId">
            <p>CMPE 275 Project</p>
        </div>
        

        <div id="inviteUserId" class="col-lg-6">
            
            <!-- <p><span style="color:#286090;" data-toggle="modal" data-target="#invite_modal" class="glyphicon glyphicon-user"></span><a href=""> Invite Users</a></p> -->
             <p data-toggle="modal" data-target="#inviteModal"><a href=""> <span class="glyphicon glyphicon-user"></span> Invite Users</a></p>
            <div class="modal fade inviteModal" id="inviteModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div  class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Invite Users</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                      
                        <div class="form-group">
                            <label for="actual">Email Id</label>
                            <input ng-model="inviteEmail" type="text" class="form-control" id="actual" placeholder="Enter Email Id" />
                        </div>
                        <button id="invite_user_btn" ng-click="inviteUsers()" type="submit" class="btn btn-primary" data-dismiss="modal">Invite User</button>
                    </form>


                </div>
               <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>

        </div>

        <div id="newTaskBtn" class="col-lg-6">
            <p class="pull-right" data-toggle="modal" data-target="#taskModal"><a href=""> <span class="glyphicon glyphicon-plus"></span> New Task</a></p>
            <div class="modal fade taskModal" id="taskModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div  class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Task Details</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <div class="form-group">
                            <label for="title">Task Title</label>
                            <input ng-model="taskTitle" type="text" class="form-control" id="newtitle" placeholder="Enter Task Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Task Description</label>
                            <input ng-model="taskDesc" type="text" class="form-control" id="newdescription" placeholder="Enter Task Description" />
                        </div>
                        <div class="form-group">
                            <label for="asignee">Task Assignee</label>
                            <input ng-model="taskAsignee" type="text" class="form-control" id="newasignee" placeholder="Enter Task Asignee" />
                        </div>
                        <div class="form-group">
                            <label for="state">Task State</label>
                            <input ng-model="taskState" type="text" class="form-control" id="newstate" placeholder="Enter Task State" />
                        </div>
                        <div class="form-group">
                            <label for="estimate">Task Estimate</label>
                            <input ng-model="taskEstimate" type="text" class="form-control" id="newestimate" placeholder="Enter Task Estimate" />
                        </div>
                        <div class="form-group">
                            <label for="actual">Task Actual</label>
                            <input ng-model="taskActual" type="text" class="form-control" id="newactual" placeholder="Enter Task Actual" />
                        </div>
                        <button id="addTaskBtn" ng-click="addTask()" type="submit" class="btn btn-default" data-dismiss="modal">ADD TASK</button>
                    </form>


                </div>
               <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>

        </div>
    </div>
    </div>
  
</div>
 <table id="mainboard" cellpadding="0" cellspacing="0" class="board boardView" id="board"
    style="visibility: visible;">
        <thead>
           
            
            <tr>
                
                <th class="expand" colspan="1" data-tasksperow="1" id=
                "requested_7" rowspan="1" style=
                "width: 245px; min-width: 245px; max-width: 245px;">
                    <div class="column_name inline">
                        <strong>New</strong><em class=
                        "column_description_viewboard"></em>
                    </div>
                   
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id=
                "progress_8" rowspan="1" style=
                "width: 245px; min-width: 245px; max-width: 245px;">
                    <div class="column_name inline">
                        <strong>Assigned</strong><em class=
                        "column_description_viewboard"></em>
                    </div>
                   
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                    <div class="column_name inline">
                        <strong>Started</strong><em class=
                        "column_description_viewboard"></em>
                    </div>
                   
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                    <div class="column_name inline">
                        <strong>Finished</strong><em class=
                        "column_description_viewboard"></em>
                    </div>
                   
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                    <div class="column_name inline">
                        <strong>Canceled</strong><em class=
                        "column_description_viewboard"></em>
                    </div>
                   
                </th>
         
               
            </tr>
                  <th class="expand" colspan="1" data-tasksperow="1" id="done_1"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                    
                        <div id="first_column" class="column_content" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div ng-repeat="task in tasks">
                            
                                <div ng-if="isNew(task.title, task.description, task.assignee, task.state, task.estimate, task.actual)">
                            <div id="task1" class="taskborder" draggable="true" ondragstart="drag(event)">
                                <div class="head" style="background-color: #286090; border-radius: 3%;">
                                    <span class="task_context">&nbsp;</span>
                                    <div class="task_tab">
                                        <strong class="task_id" style="color: #FFFFFF">{{task.taskID}}</strong>
                                    </div>
                                    <div class="assignee" style="color: #FFFFFF">
                                        <span>{{task.assignee}}</span>
                                        <span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span>
                                    </div>

                                </div>
                                <div class="body">
                                    <img alt="" class="avatar" src=
                                    "https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"
                                    width="30">
                                    <div class="title">
                                        {{task.title}}
                                    </div>
                                </div>
                                
                                <div class="details"></div>                                
                                    <p hidden ng-model="ngDesc">{{task.description}}</p>                                
                                    <p hidden ng-model="ngState">{{task.state}}</p>
                                    <p hidden ng-model="ngEstimate">{{task.estimate}}</p>
                                    <p hidden ng-model="ngActual">{{task.actual}}</p>
                                <ul></ul>
                            </div> 
                              </div>
                        </div> 
                    </div>
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                      
                        <div id="second_column" class="column_content" ondrop="drop(event)" ondragover="allowDrop(event)">
                            
                            <div ng-repeat="task in tasks">
                                <div ng-if="isAssigneed(task.title, task.description, task.assignee, task.state, task.estimate, task.actual)">
                            <div id="task2" class="taskborder" draggable="true" ondragstart="drag(event)">
                                <div class="head" style="background-color: #286090; border-radius: 3%;">
                                    <span class="task_context">&nbsp;</span>
                                    <div class="task_tab">
                                        <strong class="task_id" style="color: #FFFFFF">{{task.taskID}}</strong>
                                    </div>
                                    <div class="assignee" style="color: #FFFFFF">
                                        <span>{{task.assignee}}</span>
                                        <span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span>
                                    </div>

                                </div>
                                <div class="body">
                                    <img alt="" class="avatar" src=
                                    "https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"
                                    width="30">
                                    <div class="title">
                                        {{task.title}}
                                    </div>
                                </div>
                                
                                <div class="details"></div>                                
                                    <p hidden ng-model="ngDesc">{{task.description}}</p>                                
                                    <p hidden ng-model="ngState">{{task.state}}</p>
                                    <p hidden ng-model="ngEstimate">{{task.estimate}}</p>
                                    <p hidden ng-model="ngActual">{{task.actual}}</p>
                                <ul></ul>
                            </div> 
                        </div>
                        </div> 
                    </div>
                 
                </th> 
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                    
                        <div id="third_column" class="column_content" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div ng-repeat="task in tasks">
                                <div ng-if="isStarted(task.title, task.description, task.assignee, task.state, task.estimate, task.actual)">
                            
                            <div id="task3" class="taskborder" draggable="true" ondragstart="drag(event)">
                                <div class="head" style="background-color: #286090; border-radius: 3%;">
                                    <span class="task_context">&nbsp;</span>
                                    <div class="task_tab">
                                        <strong class="task_id" style="color: #FFFFFF">{{task.taskID}}</strong>
                                    </div>
                                    <div class="assignee" style="color: #FFFFFF">
                                        <span>{{task.assignee}}</span>
                                        <span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span>
                                    </div>

                                </div>
                                <div class="body">
                                    <img alt="" class="avatar" src=
                                    "https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"
                                    width="30">
                                    <div class="title">
                                        {{task.title}}
                                    </div>
                                </div>
                                
                                <div class="details"></div>                                
                                    <p hidden ng-model="ngDesc">{{task.description}}</p>                                
                                    <p hidden ng-model="ngState">{{task.state}}</p>
                                    <p hidden ng-model="ngEstimate">{{task.estimate}}</p>
                                    <p hidden ng-model="ngActual">{{task.actual}}</p>
                                <ul></ul>
                            </div>  
                              </div>
                        </div> 
                    </div>
                   
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                   
                        <div id="fourth_column" class="column_content" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div ng-repeat="task in tasks">
                                <div ng-if="isFinished(task.title, task.description, task.assignee, task.state, task.estimate, task.actual)">
                            
                            <div id="task4" class="taskborder" draggable="true" ondragstart="drag(event)">
                                <div class="head" style="background-color: #286090; border-radius: 3%;">
                                    <span class="task_context">&nbsp;</span>
                                    <div class="task_tab">
                                        <strong class="task_id" style="color: #FFFFFF">{{task.taskID}}</strong>
                                    </div>
                                    <div class="assignee" style="color: #FFFFFF">
                                        <span>{{task.assignee}}</span>
                                        <span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span>
                                    </div>

                                </div>
                                <div class="body">
                                    <img alt="" class="avatar" src=
                                    "https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"
                                    width="30">
                                    <div class="title">
                                        {{task.title}}
                                    </div>
                                </div>
                                
                                <div class="details"></div>                                
                                    <p hidden ng-model="ngDesc">{{task.description}}</p>                                
                                    <p hidden ng-model="ngState">{{task.state}}</p>
                                    <p hidden ng-model="ngEstimate">{{task.estimate}}</p>
                                    <p hidden ng-model="ngActual">{{task.actual}}</p>
                                <ul></ul>
                            </div> 
                          </div>
                        </div> 
                    </div>
                  
                </th>
                <th class="expand" colspan="1" data-tasksperow="1" id="done_9"
                rowspan="1" style=
                "width: 246px; min-width: 246px; max-width: 246px;">
                   
                        <div id="fifth_column" class="column_content" ondrop="drop(event)" ondragover="allowDrop(event)">
                   <div ng-repeat="task in tasks">
                   <div ng-if="isCancelled(task.title, task.description, task.assignee, task.state, task.estimate, task.actual)">
                            

                            <div id="task5" class="taskborder" draggable="true" ondragstart="drag(event)">
                                <div class="head" style="background-color: #286090; border-radius: 3%;">
                                    <span class="task_context">&nbsp;</span>
                                    <div class="task_tab">
                                        <strong class="task_id" style="color: #FFFFFF">{{task.taskID}}</strong>
                                    </div>
                                    <div class="assignee" style="color: #FFFFFF">
                                        <span>{{task.assignee}}</span>
                                        <span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span>
                                    </div>

                                </div>
                                <div class="body">
                                    <img alt="" class="avatar" src=
                                    "https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"
                                    width="30">
                                    <div class="title">
                                        {{task.title}}
                                    </div>
                                </div>
                                
                                <div class="details"></div>                                
                                    <p hidden ng-model="ngDesc">{{task.description}}</p>                                
                                    <p hidden ng-model="ngState">{{task.state}}</p>
                                    <p hidden ng-model="ngEstimate">{{task.estimate}}</p>
                                    <p hidden ng-model="ngActual">{{task.actual}}</p>
                                <ul></ul>
                            </div> 
                            </div>       
                    
                        </div> 
                    </div>
                   
                </th>   
            <tr>

            </tr>
        </thead>
    </table>
    <div id="projectStatus">
         <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="listing listing-default">
                                <div class="shape">
                                    
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">New Tasks</h3>
                                    <p>0</p>
                                </div>
                            </div>
                            <div class="listing listing-default">
                                <div class="shape">
                                    
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">Assigned Task</h3>
                                    <p>0</p>
                                </div>
                            </div>
                            <div class="listing listing-default">
                                <div class="shape">
                                    
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">Started Task</h3>
                                    <p>0</p>
                                </div>
                            </div>
                            <div class="listing listing-default">
                                <div class="shape">
                                    
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">Finished Task</h3>
                                    <p>0</p>
                                </div>
                            </div>
                            <div class="listing listing-default">
                                <div class="shape">
                                    
                                </div>
                                <div class="listing-content">
                                    <h3 class="lead">Cancelled Task</h3>
                                    <p>0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
    </div>
                     
 <style>
 #projectStatus{
    margin-top: -630px;
    margin-left: 84%;
 }
 .lead{
    font-size: 18px;
    font-weight: bold;
 }
.shape {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
    transform: rotate(360deg);
}
.listing {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    overflow: hidden;
}
.listing:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.shape {
    border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.listing-radius {
    border-radius: 7px;
}
.listing-danger {
    border-color: #d9534f;
}
.listing-danger .shape {
    border-color: transparent #d9533f transparent transparent;
}
.listing-success {
    border-color: #5cb85c;
}
.listing-success .shape {
    border-color: transparent #5cb75c transparent transparent;
}
.listing-default {
    border-color: #999999;
    width: 230px;
}
.listing-default .shape {
    
}
.listing-primary {
    border-color: #428bca;
}
.listing-primary .shape {
    border-color: transparent #318bca transparent transparent;
}
.listing-info {
    border-color: #5bc0de;
}
.listing-info .shape {
    border-color: transparent #5bc0de transparent transparent;
}
.listing-warning {
    border-color: #f0ad4e;
}
.listing-warning .shape {
    border-color: transparent #f0ad4e transparent transparent;
}
.shape-text {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    -ms-transform: rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg); /* Opera 10.5 */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    transform: rotate(30deg);
}
.listing-content {
    padding: 0 20px 10px;
}
</style>




<script>  
var projectIdValue = $("#projectId").val(); 
    //  function getStringUnique() {
    // var S4 = function() {
    //    return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    // };
    // return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    // }

      
    // var counter = 1;
    // function displayNew(title,desc,assignee,state,estimate,actual){
    //      var idValue = getStringUnique();      
    //     $("#first_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>'+assignee+'</span><span style="color:white-spacete; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+title+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+title+'</p><p hidden ng-model="ngDesc">'+desc+'</p><p hidden ng-model="ngAssignee">'+assignee+'</p><p hidden ng-model="ngState">'+state+'</p><p hidden ng-model="ngEstimate">'+estimate+'</p><p hidden ng-model="ngActual">'+actual+'</p></div><ul></ul></div>');
    // }

    //  function displayAssigned(title,desc,assignee,state,estimate,actual){
    //      var idValue = getStringUnique();      
    //     $("#second_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>'+assignee+'</span><span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+title+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+title+'</p><p hidden ng-model="ngDesc">'+desc+'</p><p hidden ng-model="ngAssignee">'+assignee+'</p><p hidden ng-model="ngState">'+state+'</p><p hidden ng-model="ngEstimate">'+estimate+'</p><p hidden ng-model="ngActual">'+actual+'</p></div><ul></ul></div>');
    // }

    //  function displayStarted(title,desc,assignee,state,estimate,actual){
    //      var idValue = getStringUnique();      
    //     $("#third_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>'+assignee+'</span><span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+title+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+title+'</p><p hidden ng-model="ngDesc">'+desc+'</p><p hidden ng-model="ngAssignee">'+assignee+'</p><p hidden ng-model="ngState">'+state+'</p><p hidden ng-model="ngEstimate">'+estimate+'</p><p hidden ng-model="ngActual">'+actual+'</p></div><ul></ul></div>');
    // }

    //  function displayFinished(title,desc,assignee,state,estimate,actual){
    //      var idValue = getStringUnique();      
    //     $("#fourth_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>'+assignee+'</span><span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+title+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+title+'</p><p hidden ng-model="ngDesc">'+desc+'</p><p hidden ng-model="ngAssignee">'+assignee+'</p><p hidden ng-model="ngState">'+state+'</p><p hidden ng-model="ngEstimate">'+estimate+'</p><p hidden ng-model="ngActual">'+actual+'</p></div><ul></ul></div>');
    // }

    //  function displayCancelled(title,desc,assignee,state,estimate,actual){
    //      var idValue = getStringUnique();      
    //     $("#fifth_column").append('<div id="'+idValue+'" class="taskborder" draggable="true" ondragstart="drag(event)"><div class="head" style="background-color: #286090; border-radius: 3%;"><span class="task_context">&nbsp;</span><div class="task_tab"><strong class="task_id" style="color: #FFFFFF">ID 13</strong></div><div class="assignee" style="color: #FFFFFF"><span>'+assignee+'</span><span style="color:white; margin-left:15px;" class="glyphicon glyphicon-cog"></span></div></div><div class="body"><img alt="" class="avatar" src="https://mahesh419.kanbanize.com//uploaded_files/avatars/default_avatar_small.jpg"width="30"><div class="title">'+title+'</div></div><div class="details"><p hidden ng-model="ngTitle">'+title+'</p><p hidden ng-model="ngDesc">'+desc+'</p><p hidden ng-model="ngAssignee">'+assignee+'</p><p hidden ng-model="ngState">'+state+'</p><p hidden ng-model="ngEstimate">'+estimate+'</p><p hidden ng-model="ngActual">'+actual+'</p></div><ul></ul></div>');
    // }

 var helloApp = angular.module("taskHomeApp", []);
    helloApp.controller("TaskCtrl", function($scope, $http) {
    
     $scope.addTask= function(){ 
              var TaskTitle = $scope.taskTitle;
              var TaskDescription = $scope.taskDesc;
              var TaskAssignee = $scope.taskAsignee;
              var TaskEstimate = $scope.taskEstimate;
              var TaskActual = $scope.taskActual;
              var TaskState = 'new';
              var ProjectId= '1';
              alert("inside task");
              $http({
                method: 'POST',
                url: 'http://localhost:8080/api/tc/'+TaskTitle+'/'+TaskDescription+'/'+TaskAssignee+'/'+TaskState+'/'+ TaskEstimate+'/'+TaskActual+'/'+ProjectId+'/'
                //{TaskTitle}/{TaskDescription}/{TaskAssignee}/{TaskState}/{TaskEstimate}/{TaskActual}/{ProjectId}/                                   
               }).success(function(response){
                       /*  $scope.projectTitle='';
                         $scope.projectDesc='';
                         $scope.projects = response;*/
                         
                         alert("Task created successfully !!!");
                         
                 }).error(function(error){
                            alert("error : task ");
                 });         
                };

            $scope.inviteUsers = function(){

                var toEmailId = $scope.inviteEmail;
                var ProjectId = projectIdValue;
                alert(toEmailId+" "+ProjectId);
                $http({
                    method: 'POST',
                    url: 'http://localhost:8080/api/v1/user/'+toEmailId+'/'+ProjectId+'/'
                }).success(function(response){

                    alert("User invited successfully !!!");

                }).error(function(error){
                    alert("invite user api call error");
                });

            };

            $scope.getAllTasks = function(){

                 // $scope.isNew = function(title,desc,assignee,state,estimate,actual) {
                 //        if(state=='new'){
                 //            displayNew(title,desc,assignee,state,estimate,actual);  
                 //            return true;  
                 //        }
                 //    }
                 //   $scope.isAssigneed= function(title,desc,assignee,state,estimate,actual) {
                 //        if(state=='assigned'){
                 //            displayAssigned(title,desc,assignee,state,estimate,actual);
                 //            return true;
                 //        }

                        
                 //    }
                 //    $scope.isStarted= function(title,desc,assignee,state,estimate,actual) {
                 //        if(state=='started'){
                 //            displayStarted(title,desc,assignee,state,estimate,actual);
                 //            return true;
                 //        }
                        
                 //    }
                 //    $scope.isFinished= function(title,desc,assignee,state,estimate,actual) {
                 //        if(state=='finished'){
                 //            displayFinished(title,desc,assignee,state,estimate,actual);
                 //            return true;
                 //        }
                        
                 //    }
                 //    $scope.isCancelled= function(title,desc,assignee,state,estimate,actual) {
                 //        if(state=='cancelled'){
                 //            displayCancelled(title,desc,assignee,state,estimate,actual);
                 //            return true;
                 //        }
                        
                 //    }

                  // $scope.isNew = function(title,description,assignee,state,estimate,actual) {
                  //       // if(state=='new'){
                  //       //     displayNew(title,desc,assignee,state,estimate,actual);  
                  //       //     return true;  
                  //       // }
                  //       return state=="new";
                        
                  //   }
                  //   $scope.isAssigneed= function(title,description,assignee,state,estimate,actual) {
                  //       // if(state=='assigned'){
                  //       //     displayAssigned(title,desc,assignee,state,estimate,actual);
                  //       //     return true;
                  //       // }
                  //       return state=="assigned";
                        
                  //   }
                  //   $scope.isStarted= function(title,description,assignee,state,estimate,actual) {
                  //       // if(state=='started'){
                  //       //     displayStarted(title,desc,assignee,state,estimate,actual);
                  //       //     return true;
                  //       // }
                  //       return state=="started";
                        
                  //   }
                  //   $scope.isFinished= function(title,description,assignee,state,estimate,actual) {
                  //       // if(state=='finished'){
                  //       //     displayFinished(title,desc,assignee,state,estimate,actual);
                  //       //     return true;
                  //       // }
                  //       return state=="finished";
                  //   }
                  //   $scope.isCancelled= function(title,description,assignee,state,estimate,actual) {
                  //       // if(state=='cancelled'){
                  //       //     displayCancelled(title,desc,assignee,state,estimate,actual);
                  //       //     return true;
                  //       // }
                  //       return state=="cancelled";
                  //   }
			var projectId = projectIdValue; 
                     $http({
                method: 'GET',
                url: 'http://localhost:8080/api/tc/tasks/'+projectId
                                              
               }).success(function(response){

                    $scope.tasks = response;
                       
                        $scope.isNew = function(title,description,assignee,state,estimate,actual) {
                        // if(state=='new'){
                        //     displayNew(title,desc,assignee,state,estimate,actual);  
                        //     return true;  
                        // }
                        return state=="New";
                        
                    }
                    $scope.isAssigneed= function(title,description,assignee,state,estimate,actual) {
                        // if(state=='assigned'){
                        //     displayAssigned(title,desc,assignee,state,estimate,actual);
                        //     return true;
                        // }
                        return state=="assigned";
                        
                    }
                    $scope.isStarted= function(title,description,assignee,state,estimate,actual) {
                        // if(state=='started'){
                        //     displayStarted(title,desc,assignee,state,estimate,actual);
                        //     return true;
                        // }
                        return state=="started";
                        
                    }
                    $scope.isFinished= function(title,description,assignee,state,estimate,actual) {
                        // if(state=='finished'){
                        //     displayFinished(title,desc,assignee,state,estimate,actual);
                        //     return true;
                        // }
                        return state=="finished";
                    }
                    $scope.isCancelled= function(title,description,assignee,state,estimate,actual) {
                        // if(state=='cancelled'){
                        //     displayCancelled(title,desc,assignee,state,estimate,actual);
                        //     return true;
                        // }
                        return state=="cancelled";
                    }
                       
                         
                 }).error(function(error){
                            alert("error : task ");
                 });        

                    };


                 // $scope.tasks1 = [
                 //      { 
                 //          'taskID':'1',
                 //          'title': 'Infy project',
                 //          'desc': 'first project',
                 //          'assignee': 'None',
                 //          'state': 'new',
                 //          'estimate': '2 days',
                 //          'actual': '2 days'
                 //      },

                 //      {
                 //          'taskID':'2',
                 //          'title': 'Cognizant Tech',
                 //          'desc': 'second project',
                 //          'assignee': 'Mahesh',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                 //       {
                 //          'taskID':'2',
                 //          'title': 'sjsu proj',
                 //          'desc': 'second project',
                 //          'assignee': 'Arjun',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                     

                 //      {
                 //          'taskID':'3',
                 //          'title': 'Wipro',
                 //          'desc': 'third project',
                 //          'assignee': 'Arjun',
                 //          'state': 'started',
                 //          'estimate': '8 days',
                 //          'actual': '9 days'
                 //      },
                 //      {
                 //          'taskID':'4',
                 //          'title': 'Tcs',
                 //          'desc': 'fourth project',
                 //          'assignee': 'Dinesh',
                 //          'state': 'finished',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      },
                 //      {
                 //          'taskID':'5',
                 //          'title': 'HCL Technologies',
                 //          'desc': 'fifth project',
                 //          'assignee': 'Vaibhav',
                 //          'state': 'cancelled',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      }
                 //  ];
                 //  $scope.tasks2 = [
                 //      { 
                 //          'taskID':'1',
                 //          'title': 'Infy project',
                 //          'desc': 'first project',
                 //          'assignee': 'None',
                 //          'state': 'new',
                 //          'estimate': '2 days',
                 //          'actual': '2 days'
                 //      },

                 //      {
                 //          'taskID':'2',
                 //          'title': 'Cognizant Tech',
                 //          'desc': 'second project',
                 //          'assignee': 'Mahesh',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                 //       {
                 //          'taskID':'2',
                 //          'title': 'sjsu proj',
                 //          'desc': 'second project',
                 //          'assignee': 'Arjun',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                     

                 //      {
                 //          'taskID':'3',
                 //          'title': 'Wipro',
                 //          'desc': 'third project',
                 //          'assignee': 'Arjun',
                 //          'state': 'started',
                 //          'estimate': '8 days',
                 //          'actual': '9 days'
                 //      },
                 //      {
                 //          'taskID':'4',
                 //          'title': 'Tcs',
                 //          'desc': 'fourth project',
                 //          'assignee': 'Dinesh',
                 //          'state': 'finished',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      },
                 //      {
                 //          'taskID':'5',
                 //          'title': 'HCL Technologies',
                 //          'desc': 'fifth project',
                 //          'assignee': 'Vaibhav',
                 //          'state': 'cancelled',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      }
                 //  ];
                 //  $scope.tasks3 = [
                 //      { 
                 //          'taskID':'1',
                 //          'title': 'Infy project',
                 //          'desc': 'first project',
                 //          'assignee': 'None',
                 //          'state': 'new',
                 //          'estimate': '2 days',
                 //          'actual': '2 days'
                 //      },

                 //      {
                 //          'taskID':'2',
                 //          'title': 'Cognizant Tech',
                 //          'desc': 'second project',
                 //          'assignee': 'Mahesh',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                 //       {
                 //          'taskID':'2',
                 //          'title': 'sjsu proj',
                 //          'desc': 'second project',
                 //          'assignee': 'Arjun',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                     

                 //      {
                 //          'taskID':'3',
                 //          'title': 'Wipro',
                 //          'desc': 'third project',
                 //          'assignee': 'Arjun',
                 //          'state': 'started',
                 //          'estimate': '8 days',
                 //          'actual': '9 days'
                 //      },
                 //      {
                 //          'taskID':'4',
                 //          'title': 'Tcs',
                 //          'desc': 'fourth project',
                 //          'assignee': 'Dinesh',
                 //          'state': 'finished',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      },
                 //      {
                 //          'taskID':'5',
                 //          'title': 'HCL Technologies',
                 //          'desc': 'fifth project',
                 //          'assignee': 'Vaibhav',
                 //          'state': 'cancelled',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      }
                 //  ];
                 //  $scope.tasks4 = [
                 //      { 
                 //          'taskID':'1',
                 //          'title': 'Infy project',
                 //          'desc': 'first project',
                 //          'assignee': 'None',
                 //          'state': 'new',
                 //          'estimate': '2 days',
                 //          'actual': '2 days'
                 //      },

                 //      {
                 //          'taskID':'2',
                 //          'title': 'Cognizant Tech',
                 //          'desc': 'second project',
                 //          'assignee': 'Mahesh',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                 //       {
                 //          'taskID':'2',
                 //          'title': 'sjsu proj',
                 //          'desc': 'second project',
                 //          'assignee': 'Arjun',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                     

                 //      {
                 //          'taskID':'3',
                 //          'title': 'Wipro',
                 //          'desc': 'third project',
                 //          'assignee': 'Arjun',
                 //          'state': 'started',
                 //          'estimate': '8 days',
                 //          'actual': '9 days'
                 //      },
                 //      {
                 //          'taskID':'4',
                 //          'title': 'Tcs',
                 //          'desc': 'fourth project',
                 //          'assignee': 'Dinesh',
                 //          'state': 'finished',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      },
                 //      {
                 //          'taskID':'5',
                 //          'title': 'HCL Technologies',
                 //          'desc': 'fifth project',
                 //          'assignee': 'Vaibhav',
                 //          'state': 'cancelled',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      }
                 //  ];
                 //  $scope.tasks5 = [
                 //      { 
                 //          'taskID':'1',
                 //          'title': 'Infy project',
                 //          'desc': 'first project',
                 //          'assignee': 'None',
                 //          'state': 'new',
                 //          'estimate': '2 days',
                 //          'actual': '2 days'
                 //      },

                 //      {
                 //          'taskID':'2',
                 //          'title': 'Cognizant Tech',
                 //          'desc': 'second project',
                 //          'assignee': 'Mahesh',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                 //       {
                 //          'taskID':'2',
                 //          'title': 'sjsu proj',
                 //          'desc': 'second project',
                 //          'assignee': 'Arjun',
                 //          'state': 'assigned',
                 //          'estimate': '5 days',
                 //          'actual': '5 days'
                 //      },
                     

                 //      {
                 //          'taskID':'3',
                 //          'title': 'Wipro',
                 //          'desc': 'third project',
                 //          'assignee': 'Arjun',
                 //          'state': 'started',
                 //          'estimate': '8 days',
                 //          'actual': '9 days'
                 //      },
                 //      {
                 //          'taskID':'4',
                 //          'title': 'Tcs',
                 //          'desc': 'fourth project',
                 //          'assignee': 'Dinesh',
                 //          'state': 'finished',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      },
                 //      {
                 //          'taskID':'5',
                 //          'title': 'HCL Technologies',
                 //          'desc': 'fifth project',
                 //          'assignee': 'Vaibhav',
                 //          'state': 'cancelled',
                 //          'estimate': '3 days',
                 //          'actual': '5 days'
                 //      }
                 //  ];
      
             
    });

    


</script>

    <body>
</head>
