<!DOCTYPE html>
<html>
  <head>
	<title>Login</title>
	<link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- <link href="../../../bootstrap-social-gh-pages/bootstrap-social.css" rel="stylesheet"> -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	
  </head>

<body data-ng-app="signupApp">
<div data-ng-controller="signupController">

<nav class="navbar navbar-collapse">
  <div class="container">
  	<div>
  		<h1 style="position:absolute; margin-left:26%;">Project Management</h1>
  	</div>
  	<br>
  	<br>
  	<div style="height:15px;"></div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		
	</ul>
	<ul class="nav navbar-nav navbar-right">
        
        <li><a data-ng-click="navLogin()" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="height:100px;"></div>
<div class="container">
    <div class="row">
        <div style="position:relative; left:380px;" class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <input data-ng-model="email" class="form-control" name="youremail" placeholder="User email" type="email" /><br>
            <input data-ng-model="password" class="form-control" name="password" placeholder="Password" type="password" /><br>
            <input data-ng-model="reenterPassword" class="form-control" name="password" placeholder="Re-enter Password" type="password" /> 
            <br />
            <br />
            <button data-ng-click="signup()" class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
           
        </div>
    </div>
</div>
<nav  class="navbar navbar-collapse navbar-fixed-bottom">
	<div class="container">
		
        <p class="pull-right"><b>Projectmate</b> &copy; Copyright-left-everything</p>      
    </div>
</nav>
</div>

<script>
var signupApp = angular.module('signupApp', []);
              
 			 signupApp.controller( 'signupController', function ($scope,$http,$location){
 			 console.log("inside signup");
 				$scope.signup = function(){ $http({
   				method: 'POST',
	            url: '/createUser/signUp',
	            data: { "bankName": $scope.bankName, "AdminName":$scope.AdminName, "AdminSurname":$scope.AdminSurname, "email":$scope.email, "password":$scope.password, "Address":$scope.Address, "zipcode":$scope.zipcode, "city":$scope.city, "state":$scope.state, "phone":$scope.phone}
	           		
	           		}).success(function(response){
	           
	            alert("Successfully logged in !!");
	            
	            if(response.signup == "success"){
	           		window.location = '/Signedup';
	           		}
	            else
	            {
	            	window.location = '/failLogin';
	            	}
	        }).error(function(error){
	        console.log("we are in error!!");
	            alert("Signup Failed!!");
	        });   		
 			}; 			
 			 });	
</script>
</body>
</html>