<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="projectHomeApp">
<head>
    <title>Project Home</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script
            src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
            src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <!--  <script src="assets/js/controllers.js"></script>-->
  <style>
body{
background-color:#F6F6F6;
}
.bigicon {    
    color:white;
}

.mix{
    
    margin-left: 10px;
    margin-right: 10px;
}

ul.dropdown-cart{
    min-width:250px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    
}
ul.dropdown-cart li .item:hover{
    background-color:#c3c5c5;
    
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
} 
#searchbox{
    width: 350px;
    position: absolute;
    margin-left: 35%;
    margin-top: 0.5%;

}
#btnGo{
    height:34px;
}  
</style>  
  
</head>
<body ng-controller="ProjectCtrl" ng-init="loadProjects()">
<input id="emailValue" ng-model="userEmail" type="hidden" value="<%= emailId %>">
<!-- Navbar Dropdown Cart - START -->

<div class="mix">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header menuitem">
        <img class="pull-left"src="/img/mainlogo.png" style="width:30px; height:30px; margin-top:5%;">
      <a class="navbar-brand" href="#">Projectmate</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
    
     <div id="searchbox" class="input-group">
      <input type="text" class="form-control" placeholder="Search for Members">
      <span class="input-group-btn">
        <button id="btnGo"class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    
    <div style="color:white; position:absolute; margin-left:70%; margin-top:1%;"id="usernameDiv">
       <p>Username: mahesh5539</p> 
    </div>

    <div style="margin-top:1%"class="pull-right">
        <a style="color:white;" href="">Sign Out</a>
    </div>
    
  </div>
</nav>
</div>

<!-- Navbar Dropdown Cart - END -->




<!--Model starts here : for creating new project-->

<div class="container" >

    <!-- Trigger the modal with a button -->
    <p class="pull-right" data-toggle="modal" data-target="#myModal"><a href=""> <span class="glyphicon glyphicon-plus"></span> New Project</a></p>
    

    <!-- Modal -->
    <div class="modal fade newproject" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div  class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Project Details</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <div class="form-group">
                            <label for="title">Project Title</label>
                            <input ng-model="projectTitle" type="text" class="form-control" id="title" placeholder="Enter Project Title" />
                        </div>
                        <div class="form-group">
                            <label for="description">Project Description</label>
                            <input ng-model="projectDesc" type="text" class="form-control" id="description" placeholder="Enter Project Description" />
                        </div>
                        <button ng-click="addProject()" type="submit" class="btn btn-default" data-dismiss="modal">ADD PROJECT</button>
                    </form>


                </div>
               <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>

</div>

<!--model ends here-->

<!-- Controller name goes here -->


<table class="table">
    <tr>
        <th>Title
        </th>
        <th>Description
        </th>
        <th>State
        </th>
        <th>Action
        </th>
        
        <th>Progress
        </th>
        
    </tr>
    <tr ng-repeat="project in projects  | filter: searchKeyword ">
	     <td>
            <a href= "">{{project.title}}</a>
            <p hidden>{{project.id}}</p>
        </td>
        <td>
            <p>{{project.description}}</p>
        </td>
        
        <td>
			<p>{{project.state}}</p>
			<select ng-model="project.state" ng-change="changeState(project.state,project.id)">
			    <option value="Planning">Planning</option>
			    <option value="Ongoing">Ongoing</option>
			    <option value="Completed">Completed</option>
			    <option value="Cancelled">Cancelled</option>
			</select>
        </td>
        <td>
            <button type="button" ng-click="deleteProject(project.id)" class="btn btn-primary">Delete</button>
        </td>
        <td>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                    <span class="sr-only">35% Complete (success)</span>
                     35
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                    <span class="sr-only">20% Complete (warning)</span>
                    20
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                    10
                </div>
            </div>
        </td>
    </tr>
</table>

<div id="footer">
    <div class="container">
        <p>&nbsp;</p>
        <p class="lead">This is footer </p>
    </div>
</div>

<script>
	var emailId = $("#emailValue").val();
    var helloApp = angular.module("projectHomeApp", []);
    helloApp.controller("ProjectCtrl", function($scope, $http) {
    
        $scope.deleteProject = function (id) {

           alert("sending delete request "+id);
            if (confirm("You want to delete selected project ???") == true) {

                $http({
                    method: 'DELETE',
                    url: 'http://localhost:8080/api/v1/project/' + id + '/' + emailId + '/'
                }).success(function (response) {
				$scope.loadProjects();

                }).error(function (error) {
                    alert("error");
                });
            } else {
                alert("You pressed Cancel!");
            }

        }/*
          $scope.projects = [
              {
                  'Id':'2',
                  'title': 'Infy project',
                  'description': 'first project',
                  'state': 'planning'
              },
              {
                  'Id':'2',
                  'title': 'Cognizant Technologies',
                  'description': 'second project',
                  'state': 'ongoing'
              },
              {
                  'Id':'2',
                  'title': 'Wipro',
                  'description': 'third project',
                  'state': 'closed'
              },
              {
                  'Id':'2',
                  'title': 'Tata Consultancy Services (TCS)',
                  'description': 'fourth project',
                  'state': 'ongoing'
              },
              {
                  'Id':'2',
                  'title': 'HCL Technologies',
                  'description': 'fifth project',
                  'state': 'planning'
              },
          ]; */
        $scope.addRow = function () {
            $scope.projects.push({'Title': $scope.title, 'Description': $scope.description, 'State': $scope.state});
            $scope.title = '';
            $scope.description = '';
            $scope.state = '';
             $scope.emailID = userEmailValue;
        };
        $scope.removeRow = function (title) {
            var index = -1;
            var comArr = eval($scope.projects);
            for (var i = 0; i < comArr.length; i++) {
                if (comArr[i].title === title) {
                    index = i;
                    break;
                }
            }
            if (index === -1) {
                alert("Something gone wrong");
            }
            $scope.projects.splice(index, 1);
        };

 	        $scope.loadProjects= function(){
            $http({
                method: 'GET',
                url: 'http://localhost:8080/api/v1/project/' + emailId + '/'
             }).success(function(response){
                         $scope.projects = response;
            }).error(function(error){
            console.log("we are in error!!");
                alert("error");
            });         
            };
            
            $scope.changeState = function(state,id){
            alert("project State is "+state);
            alert("---id---"+id);
	            $http({
	               method: 'PUT',
	                url: 'http://localhost:8080/api/v1/project/' + id + '/' + state 
	           }).success(function(response){
	           	   alert('success fully updated');
	               $scope.projects = response;
	           }).error(function(error){
	               console.log("we are in error!!");
               alert("error");
	           });
        };
            
            $scope.addProject= function(){ 
              var title = $scope.projectTitle;
              var description = $scope.projectDesc;
              var state = 'Planning';
              
              $http({
                method: 'POST',
                url: 'http://localhost:8080/api/v1/project/'+title+'/'+description+'/'+state+'/'+emailId + '/'                                   
               }).success(function(response){
                         $scope.projectTitle='';
                         $scope.projectDesc='';
                         $scope.projects = response;
                         
          		 }).error(function(error){
            				alert("error");
            	 });         
            	};
    });


    /*drop down controller below for state of project*/
    helloApp.controller('StateDropDownController', function ($scope) {

        $scope.states = ['Math', 'Physics', 'Chemistry', 'Hindi', 'English'];
        $scope.selectedItem;
        $scope.dropboxitemselected = function (item) {

            $scope.selectedItem = item;
            alert($scope.selectedItem);
        }
    });


</script>
</body>
</html>